
.env


node_modules/


logs
*.log
npm-debug.log*


pids
*.pid
*.seed


lib-coverage


coverage


node_modules/
jspm_packages/


.npm


.eslintcache


.node_repl_history


*.tgz


.env
.env.test
.env.production


.idea/
.vscode/
*.swp
*.swo